
.square {
    margin: 10%;
    height: 200px;
    width:200px;
}

.square a {
    color: white;
    background-color:white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3f579c;
    height:500px;
    margin-top: 75px;
  }


  @media only screen and (max-width:800px){
    .container{
        flex-direction: column;
        margin-top: 30px;
    }
    .square{
        height: 125px;
         width:125px;
    }
  }


  

 
