
.square {
    margin: 10%;
    height: 200px;
    width:200px;
}


.square:hover{
    background-color:#44A49C;
    color:white;
    opacity:0.6;
}

.logo {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #44A49C;
    height:300px;
    margin-top: 20px;
  }


  @media only screen and (max-width:800px){
    .container{
        flex-direction: column;
        margin-top: 30px;
    }
    .square{
        height: 125px;
         width:125px;
    }
  }


  

 
