.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #44A49C;
  height:500px;
  margin-top: 75px;
  width: 800px; 
}

.container button a {
  color: white;
  background-color:white;
}

.test{
  display: flex;
  justify-content:space-around;

}

.subject {
  color: white;
  border-color: white;
  width: 250px;
}

.container button {
  margin: 1rem 0;
}

.square {
  margin: 10%;
  height: 200px;
  width:200px;
}

.writing {
  color: white;
  font-family: Helvetica;
  margin-bottom: 30px;
}
