.container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 1rem;
  border: solid 2px #CCCCCC;
  margin-top: 40px;
  margin-bottom: 40px;
}

.textToLeft {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resetSubmitButtons {
    margin-top: 50px;
    margin-bottom: 40px;
}

.nbInput  {
    margin-top: 20px;
}

.selectInput {
    margin-top: 20px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}