.wrapper {
  --bg-color: var(--color-contrast);

  width: 100%;
  background-color: var(--bg-color);
  position: relative;
  z-index: 1;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  color: var(--color-white);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.container a {
  color: var(--color-white);
}

.brand {
  position: relative;
  display: inline-flex;
  height: 2rem;
  width: auto;
  align-items: center;
  z-index: 1;
}

.brand svg {
  height: 2rem;
  width: auto;
}

@media (min-width: 64rem) {
  .hamburger {
    display: none;
  }
}
